<div [formGroup]="form">
  <mat-form-field>
    <input formControlName="title" matInput placeholder="Course Title" #title>
    <mat-hint align="end">
      {{ title.value.length }} / 60
    </mat-hint>
    <mat-error *ngIf="courseTitle.errors?.titleExists">
      This title is already being used.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input formControlName="releasedAt" matInput [matDatepicker]="releaseDatePicker" 
      placeholder="Release date">
    <mat-datepicker-toggle matSuffix [for]="releaseDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #releaseDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-checkbox formControlName="downloadsAllowed" color="primary">
    Downloads allowed?
  </mat-checkbox>

  <mat-form-field appearance="outline">
    <textarea formControlName="longDescription" matInput placeholder="Description">

    </textarea>
  </mat-form-field>
</div>

<div class="form-val">
  {{form.value | json}}
</div>